@{
    Layout = null;
}
@model LoginModel

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Bilton Login</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div class="bg-dark text-white p-2">
        <span class="navbar-brand m-1-2"></span>
    </div>


    <div class="m-1 p-1 img-thumbnail">
        <div class="text-danger" asp-validation-summary="All"></div>
        <form method="Post" asp-controller="Account" asp-action="Login">
            <div class="form-group">
                <label class="mark" asp-for="UserName">User-Name</label>
                <input asp-for="UserName" class="form-control input-sm" />
            </div>
            <div class="form-group">
                <label class="mark" asp-for="Password">Password</label>
                <input asp-for="Password" type="password" class="form-control input-sm" />
            </div>
            <button class="btn btn-primary" type="submit">Log In</button>
            <input type="hidden" asp-for="ReturnUrl" />
        </form>
    </div>
</body>
</html>
