@{
    ViewData["Title"] = "Home Page";
}
@model BooksViewModel
<div class="text-center">
    <h1 class="display-4">The Bilton (Bezos-Hilton) Project</h1>
    @foreach (Book b in Model.Books)
    {
        <partial name="bookSummary" model="b"/>
    }
    <div page-blah="@Model.PageInfo" page-action="Index"></div>
</div>
